<?xml version="1.0"?>
<config>
    <modules>
        <Datalay_FindifyFeed>
            <version>1.0.3</version>
        </Datalay_FindifyFeed>
    </modules>
    <global>
        <helpers>
            <findifyfeed>
                <class>Datalay_FindifyFeed_Helper</class>
            </findifyfeed>
        </helpers>
        <blocks>
            <findifyfeed>
                <class>Datalay_FindifyFeed_Block</class>
            </findifyfeed>
        </blocks>
        <models>
            <findifyfeed>
                <class>Datalay_FindifyFeed_Model</class>
                <!-- <resourceModel>findifyfeed_mysql4</resourceModel> -->
            </findifyfeed>
            <!-- <findifyfeed_mysql4>
                <class>Datalay_FindifyFeed_Model_Mysql4</class>
                <entities>
                    <findifymodel>
                        <table>findifyfeed</table>
                    </findifymodel>
                </entities>
            </findifyfeed_mysql4> -->
        </models>
        <!-- <events>
            <findifyfeed_notifications_before>
                <observers>
                    <findifyfeed_observer>
                        <type>singleton</type>
			<class>Datalay_FindifyFeed_Model_Observer</class>
                        <method>checkMessages</method>
                    </findifyfeed_observer>
                </observers>
            </findifyfeed_notifications_before>
        </events> -->
        <resources>
            <findifyfeed_setup>
                <setup>
                    <module>Datalay_FindifyFeed</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </findifyfeed_setup>
            <findifyfeed_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </findifyfeed_write>
            <findifyfeed_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </findifyfeed_read>
        </resources>
    </global>
    <admin>
        <routers>
            <findifyfeed>
                <use>admin</use>
                <args>
                    <module>Datalay_FindifyFeed</module>
                    <frontName>admin_findifyfeed</frontName>
                </args>
            </findifyfeed>
            <adminhtml>
                <args>
                    <modules>
                        <findifyfeed after="Mage_Adminhtml">Datalay_FindifyFeed</findifyfeed>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <frontend>
	<layout>  
            <updates>
                <findifyfeed>
		    <file>datalay_findifyfeed.xml</file>
                </findifyfeed>
            </updates>
        </layout>
    </frontend>
    <!-- <adminhtml>
        <layout>
                <updates>
                        <findifyfeed>
                                <file>datalay/findifyfeed.xml</file>
                        </findifyfeed>
                </updates>
        </layout>
    </adminhtml> -->
    <!-- <default>
    	<attributes>
            <general>
            	<feedfilename>json-default</feedfilename>
            </general>
        </attributes>
    </default> -->
    <crontab>
        <jobs>
            <findifyfeed_crongeneratefeed>
                <!-- <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule> -->
                <run>
                    <model>findifyfeed/cron::cronGenerateFeed</model>
                </run>
            </findifyfeed_crongeneratefeed>
        </jobs>
    </crontab>
</config>
